# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.*.local

# Backend
backend/venv/
backend/.venv/
backend/env/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
backend/*.db

# OS files
.DS_Store
Thumbs.db
